<h1>Edit Grade</h1>

<div class="row vh-100">
  <div class="col-md-3 code-file-list h-100">
    <div class="card">
      <div class="card-body">
        <h4>Rubric</h4>
        <%= if @rubric do %>
          <% path = Routes.upload_path(@conn, :show, @rubric) <> "?show=true" %>
          <p><%= link @rubric.name, to: path, target: "_blank" %></p>
        <% else %>
          <p>Not available.</p>
        <% end %>
      </div>
    </div>
    <div id="code-file-tree">
      <!-- react component in code-viewer/file-tree.jsx -->
      [react]
    </div>
  </div>
  <div class="col-md-9 h-100">
    <!-- CodeMirror goes here; code-viewer/code-viewer.js -->
    <div class="card h-100">
      <div class="card-body h-100">
        <h2 class="card-title" id="viewer-file-path">(no file selected)</h2>
        <textarea id="code-viewer"></textarea>
      </div>
    </div>
  </div>
</div>

<script>
 window.code_view_data = JSON.parse(
   "<%= raw(javascript_escape(Jason.encode!(@data))) %>"
 );
 window.line_comment_paths = {
   create: "<%= Routes.ajax_staff_grade_line_comment_path(@conn, :create, @grade) %>",
   update: "<%= Routes.ajax_staff_line_comment_path(@conn, :update, :ID) %>",
 };
</script>
