<.header>
  Listing API Keys
  <:actions>
    <.link href={~p"/apikeys/new"}>
      <.button>New API Key</.button>
    </.link>
  </:actions>
</.header>

<.table id="apikeys" rows={@apikeys} row_click={&JS.navigate(~p"/apikeys/#{&1}")}>
  <:col :let={api_key} label="Key">{api_key.key}</:col>
  <:action :let={api_key}>
    <div class="sr-only">
      <.link navigate={~p"/apikeys/#{api_key}"}>Show</.link>
    </div>
    <.link navigate={~p"/apikeys/#{api_key}/edit"}>Edit</.link>
  </:action>
  <:action :let={api_key}>
    <.link href={~p"/apikeys/#{api_key}"} method="delete" data-confirm="Are you sure?">
      Delete
    </.link>
  </:action>
</.table>
