<.header>
  Meeting: {@course.name} @ {@meeting.started_at |> DateTime.to_date()}
  <:actions>
    <.link href={~p"/staff/meetings/#{@meeting}/edit"}>
      <.button>Edit meeting</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Started at">{@meeting.started_at}</:item>
  <:item title="Teamset">
    <%= if @meeting.teamset_id do %>
      { @meeting.teamset.name }
    <% else %>
      (No teamset)
    <% end %>
  </:item>
  <:item title="Secret Code">
    { @meeting.secret_code }
  </:item>
</.list>

<h2>Attendance</h2>

<table class="table table-striped">
  <%= for reg <- @student_regs do %>
    <tr>
      <td>{user_display_name(reg.user)}</td>
      <td>{show_attendance(Enum.find(@meeting.attendances, & &1.reg_id == reg.id))}</td>
      <td>
        <.form :let={f} for={@conn} method="post" action={~p"/staff/attendances/excuse"}>
          <input type="hidden" name="reg_id" value={reg.id} />
          <input type="hidden" name="meeting_id" value={@meeting.id} />
          <button class="btn btn-secondary btn-sm">Toggle Excused</button>
        </.form>
      </td>
    </tr>
  <% end %>
</table>

