<.header>
  New API Key
  <:subtitle>Use this form to manage API key records in your database.</:subtitle>
</.header>

<.api_key_form changeset={@changeset} action={~p"/apikeys"} />

<.back navigate={~p"/apikeys"}>Back to API Keys</.back>
