<h2>Grading Scripts Output</h2>

<% path = ~p"/subs/#{@sub}/rerun_scripts" %>


<.form for={%{}} action={path} method="post">
  <.button class="btn btn-secondary">Rerun Scripts</.button>
</.form>

<%= if @sub.ag_job do %>
  <div id="itty-root"
       data-token={@token}
       data-chan="autograde"
       data-uuid={@sub.ag_job.uuid}>
    <!-- React component in js/itty.jsx -->
    Loading...
  </div>
 
<% else %>
  <p>No ag job.</p>
<% end %>

