<.header>
  Edit Api key {@api_key.id}
  <:subtitle>Use this form to manage api_key records in your database.</:subtitle>
</.header>

<.api_key_form changeset={@changeset} action={~p"/api_key/#{@api_key}"} />

<.back navigate={~p"/api_key"}>Back to api_key</.back>
