<.form for={@changeset} action={@action}>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="mb-3">
    <.label for={@changeset[:name].id}>Name</.label>
    <.text_input field={@changeset[:name]} class="form-control" />
    <.error_tag form={@changeset} field={:name} />
  </div>

  <div class="mb-3">
    <.label for={@changeset[:kind].id}>Kind</.label>
    <.select
      field={@changeset[:kind]}
      options={Inkfish.Grades.GradeColumn.grade_column_types()}
      class="form-control"
    />
    <.error_tag form={@changeset} field={:kind} />
  </div>

  <div class="mb-3">
    <.label for={@changeset[:points].id}>Points</.label>
    <.number_input field={@changeset[:points]} step="any" class="form-control" />
    <.error_tag form={@changeset} field={:points} />
  </div>

  <div class="mb-3">
    <.label for={@changeset[:base].id}>Base</.label>
    <.number_input field={@changeset[:base]} step="any" class="form-control" />
    <.error_tag form={@changeset} field={:base} />
  </div>

  <div class="mb-3">
    <.label for={@changeset[:params].id}>Params</.label>
    <.text_input field={@changeset[:params]} class="form-control" />
    <.error_tag form={@changeset} field={:params} />
  </div>

  <div class="mb-3">
    <.label for="gcol-limits">Limits</.label> <br />
    <div id="gcol-limits-root" class="mb-2">
      React component loading...
    </div>

    <div class="mx-4 text-center">
      <.text_input
        field={@changeset[:limits]}
        id="gcol-limits"
        class="form-control form-control-sm"
        readonly={true}
      />
    </div>
    <.error_tag form={@changeset} field={:limits} />
  </div>

  <div class="mb-3">
    <.label for={@changeset[:upload_id].id}>Upload ID</.label>
    <.text_input field={@changeset[:upload_id]} class="form-control" readonly="readonly" />
    <.error_tag form={@changeset} field={:upload_id} />
    <%= ajax_upload_field("grade_column", "", "grade_column_upload_id") %>
  </div>
  <div class="mb-3">
    <.button class="btn btn-primary">Save</.button>
  </div>
</.form>
