<h1>Show Assignment</h1>

<p>
  <%= link("Student View",
    to: Routes.assignment_path(@conn, :show, @assignment)) %> |
  <%= link("Edit Assignment",
    to: Routes.staff_assignment_path(@conn, :edit, @assignment)) %>
</p>

<ul>
  <li>
    <strong>Name:</strong>
    <%= @assignment.name %>
  </li>

  <li>
    <strong>Bucket:</strong>
    <%= @bucket.name %>
  </li>

  <li>
    <strong>Teamset:</strong>
    <%= @assignment.teamset.name %>
  </li>

  <li>
    <strong>Due:</strong>
    <span class="human-date">
      <%= @assignment.due %>
    </span>
  </li>

  <li>
    <strong>Weight:</strong>
    <%= @assignment.weight %>
  </li>

  <li>
    <strong>Starter:</strong>
    <%= if @assignment.starter_upload do %>
      <%= link(@assignment.starter_upload.name,
            to: Routes.upload_path(@conn, :show, @assignment.starter_upload)) %>
    <% else %>
      ∅
    <% end %>
  </li>

  <li>
    <strong>Solution:</strong>
    <%= if @assignment.solution_upload do %>
      <%= link(@assignment.solution_upload.name,
            to: Routes.upload_path(@conn, :show, @assignment.solution_upload)) %>
    <% else %>
      ∅
    <% end %>
  </li>

  <li>
    <strong>Sub Options:</strong>
    <%= if @assignment.allow_git do %>git<% end %>
    <%= if @assignment.allow_upload do %>upload<% end %>
  </li>
</ul>

<h2>Description</h2>

<div>
  <%= trusted_markdown @assignment.desc %>
</div>

<h2>Grade Columns</h2>

<p>
  <%= link("New Grade Column",
    to: Routes.staff_assignment_grade_column_path(@conn, :new, @assignment)) %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Kind</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <%= for gcol <- @assignment.grade_columns do %>
      <tr>
        <td><%= link(gcol.name,
            to: Routes.staff_grade_column_path(@conn, :show, gcol)) %></td>
        <td><%= gcol.kind %></td>
        <td><%= gcol.points %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<h2>Submissions</h2>

<script>
 function save_grade_path(sub_id) {
   let path = "<%= Routes.ajax_staff_sub_grade_path(@conn, :create, :SubID) %>";
   return path.replace('SubID', sub_id);
 }
</script>

<table class="table table-striped">
  <thead>
    <th>Student</th>
    <%= for gcol <- @assignment.grade_columns do %>
      <th>
        <%= gcol.name %>
        <%= if gcol.kind == "number" do %>
          <span class="toggle-number-inputs" data-grade-column-id="<%= gcol.id %>">
            <!-- react component from gcolade_columns/number-input.jsx -->
            [react]
          </span>
        <% end %>
      </th>
    <% end %>
    <th>Total Grade</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <%= for sub <- @assignment.subs do %>
      <tr>
        <td><%= link(user_display_name(sub.reg.user),
            to: Routes.staff_reg_path(@conn, :show, sub.reg)) %></td>
        <%= for gcol <- @assignment.grade_columns do %>
          <% grade = Enum.find(sub.grades, &(&1.grade_column_id == gcol.id)) %>
          <td>
            <%= case gcol.kind do %>
              <% "number" -> %>
                <div class="number-grade-cell"
                     data-score="<%= (grade && grade.score) || 0 %>"
                     data-points="<%= gcol.points %>"
                     data-sub-id="<%= sub.id %>"
                     data-grade-column-id="<%= gcol.id %>">
                  <!-- React component: grade_columns/number-input.jsx -->
                  <%= show_score(@conn, grade) %>
                </div>
              <% "feedback" -> %>
                <%= if grade do %>
                  <%= show_score(@conn, grade) %> / <%= gcol.points %>
                  <%= link("Edit", to: Routes.staff_grade_path(@conn, :edit, grade)) %>
                <% else %>
                  <% grade = %Inkfish.Grades.Grade{
                    grade_column_id: gcol.id, sub_id: sub.id
                  } %>
                  <% cset = Inkfish.Grades.change_grade(grade) %>
                  <% action = Routes.staff_sub_grade_path(@conn, :create, sub.id) %>
                  <%= form_for cset, action, fn f -> %>
                    <%= hidden_input f, :sub_id %>
                    <%= hidden_input f, :grade_column_id %>
                    <%= submit "Create", class: "btn btn-secondary btn-sm" %>
                  <% end %>
                <% end %>
              <% _else -> %>
                <%= show_score(@conn, grade) %> / <%= gcol.points %>
            <% end %>
          </td>
        <% end %>
        <td><%= show_score(@conn, sub) %> / <%= assignment_total_points(@assignment) %></td>
        <td>
          <%= link("View", to: Routes.staff_sub_path(@conn, :show, sub)) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
