<h1>Show Course</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @course.name %>
  </li>

  <li>
    <strong>Start date:</strong>
    <%= @course.start_date %>
  </li>

  <li>
    <strong>Footer:</strong>
    <%= @course.footer %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.admin_course_path(@conn, :edit, @course) %></span>
<span><%= link "Back", to: Routes.admin_course_path(@conn, :index) %></span>
