<h1>Listing Regs</h1>

<table>
  <thead>
    <tr>
      <th>Is student</th>
      <th>Is prof</th>
      <th>Is staff</th>
      <th>Is grader</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for reg <- @regs do %>
    <tr>
      <td><%= reg.is_student %></td>
      <td><%= reg.is_prof %></td>
      <td><%= reg.is_staff %></td>
      <td><%= reg.is_grader %></td>

      <td>
        <%= link "Show", to: Routes.reg_path(@conn, :show, reg) %>
        <%= link "Edit", to: Routes.reg_path(@conn, :edit, reg) %>
        <%= link "Delete", to: Routes.reg_path(@conn, :delete, reg), method: :delete, data: [confirm: "Are you sure?"] %>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Reg", to: Routes.course_reg_path(@conn, :new, @course_id) %></span>
