<.header>
  Listing Attendances
  <:actions>
    <.link href={~p"/staff/attendances/new"}>
      <.button>New Attendance</.button>
    </.link>
  </:actions>
</.header>

<.table id="attendances" rows={@attendances} row_click={&JS.navigate(~p"/staff/attendances/#{&1}")}>
  <:col :let={attendance} label="Attended at">{attendance.attended_at}</:col>
  <:action :let={attendance}>
    <div class="sr-only">
      <.link navigate={~p"/staff/attendances/#{attendance}"}>Show</.link>
    </div>
    <.link navigate={~p"/staff/attendances/#{attendance}/edit"}>Edit</.link>
  </:action>
  <:action :let={attendance}>
    <.link href={~p"/staff/attendances/#{attendance}"} method="delete" data-confirm="Are you sure?">
      Delete
    </.link>
  </:action>
</.table>
