<.header>
  API Key {@api_key.id}
  <:subtitle>This is an API key record from your database.</:subtitle>
  <:actions>
    <.link href={~p"/apikeys/#{@api_key}/edit"}>
      <.button>Edit API Key</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Key">{@api_key.key}</:item>
</.list>

<.back navigate={~p"/apikeys"}>Back to API Keys</.back>
