<div class="tabbed-uploader"
     data-upload-field="sub_upload_id"
     data-nonce={@nonce}
     data-token={@token}
     data-allow-git={@assignment.allow_git}
     data-allow-file={@assignment.allow_upload}>
  React component loading...
</div>
