<h1>Show Sub</h1>

<%= if is_staff?(@current_reg, @current_user) do %>
  <p>
    <.link href={Routes.staff_sub_path(@conn, :show, @sub)}>Staff View</.link>
  </p>
<% end %>

<ul>
  <li>
    <strong>Team:</strong>
    <%= show_team(@sub.team) %>
  </li>

  <li>
    <strong>Submitter:</strong>
    <%= user_display_name(@sub.reg) %>
  </li>

  <li>
    <strong>Timestamp:</strong>
    <%= @sub.inserted_at %>
  </li>

  <li>
    <strong>Active:</strong>
    <%= @sub.active %>
  </li>

  <li>
    <strong>Hours Spent:</strong>
    <%= @sub.hours_spent %>
  </li>

  <li>
    <strong>Assigned Grader:</strong>
    <%= user_display_name(@sub.grader) %>
  </li>

  <li>
    <strong>Upload:</strong>
    <.link href={Routes.upload_path(@conn, :download, @sub.upload, @sub.upload.name)}><%= @sub.upload.name %></.link>
    (<.link href={Routes.sub_path(@conn, :files, @sub)}>View Files</.link>)
  </li>
</ul>

<p><strong>Student Note:</strong></p>

<p><%= sanitize_markdown(@sub.note) %></p>

<h2>Grades</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
    </tr>
  </thead>
  <%= for grade_column <- @assignment.grade_columns do %>
    <% grade = Enum.find(@sub.grades, &(&1.grade_column_id == grade_column.id)) %>
    <tr>
      <td>
        <%= if grade && !grade_hidden?(@conn, @assignment) do %>
          <%= if grade_column.kind == "feedback" do %>
            <.link href={Routes.grade_path(@conn, :show, grade.id)}><%= grade_column.name %></.link>
            (<%= length(grade.line_comments) %> note(s))
          <% else %>
            <%= grade_column.name %>
          <% end %>
        <% else %>
          <%= grade_column.name %>
        <% end %>
      </td>
      <td><%= show_score(@conn, grade) %> / <%= grade_column.points %></td>
    </tr>
  <% end %>
  <tr>
    <td>Late Penalty</td>
    <td>
      <%= if @sub.ignore_late_penalty do %>
        (ignored)
      <% else %>
        <%= show_score(@sub.late_penalty) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Total Score</td>
    <td><%= show_score(@conn, @sub) %> / <%= assignment_total_points(@assignment) %></td>
  </tr>
</table>

<%= unless Enum.empty?(@autogrades) do %>
  <h2>Grading Scripts Output</h2>
    
  <% path = Routes.sub_path(@conn, :rerun_scripts, @sub) %>
  <.form for={%{}} action={path} method="post">
    <.button class="btn btn-secondary">Rerun Scripts</.button>
  </.form>

  <%= Enum.map @autogrades, fn {grade, token, log} -> %>
    <h3><%= grade.grade_column.name %> (<%= grade.id %>)</h3>
    <%= if log do %>
      <p><strong>Sandbox Exit Status</strong></p>
      <pre><%= log["status"] %></pre>
      <p><strong>Test Output</strong></p>
      <pre><%= log["result"] %></pre>
      <p><strong>Full Log</strong></p>
      <pre><%= render_autograde_log(log["log"]) %></pre>
    <% else %>
      <div id="itty-root"
	data-token={token}
	data-chan="autograde"
	data-uuid={grade.log_uuid}>
        <!-- React component in js/itty.jsx -->
        Loading...
      </div>

      <p>
        Once the grading script has completed, you can reload this page to see
        your autograding score.
      </p>
    <% end %>
  <% end %>
<% end %>
