<div class="row">
  <div class="col">
    <h1>Log In</h1>
    <.form for={@conn} action={~p"/session"} as={:user}>
      <:inner :let={f}>
        <div class="mb-3">
          <.label for="email" class="form-label">Email</.label>
          <.text_input field={f[:email]} class="form-control" />
        </div>

        <div class="mb-3">
          <.label for="password" class="form-label">Password</.label>
          <.password_input field={f[:password]} class="form-control" />
        </div>

        <.button class="btn btn-primary">Log In</.button>
      </:inner>
    </.form>
  </div>
</div>

<div class="row py-4">
  <div class="col">
    <h1>Get a Password</h1>
    <p>Enter your email to create a new account or reset your password.</p>

    <.form for={@conn} action={~p"/users/send_auth_email"} as={:user}>
      <:inner :let={f}>
        <div class="mb-3">
          <.label for="email" class="form-label">Email</.label>
          <.text_input field={f[:email]} class="form-control" />
        </div>

        <.button class="btn btn-primary">Request</.button>
      </:inner>
    </.form>
  </div>
</div>
