<div class="row">
  <div class="col">
    <h1>Log In</h1>
    <.form for={@conn} action={~p"/session"} as={:user}>
      <div class="mb-3">
        <.label for="email" class="form-label">Email</.label>
        <input type="text" name="email" class="form-control" />
      </div>

      <div class="mb-3">
        <.label for="password" class="form-label">Password</.label>
        <input type="password" name="password" class="form-control" />
      </div>

      <.button class="btn btn-primary">Log In</.button>
    </.form>
  </div>
</div>

<div class="row py-4">
  <div class="col">
    <h1>Get a Password</h1>
    <p>Enter your email to create a new account or reset your password.</p>

    <.form :let={f} for={@conn} action={~p"/users/send_auth_email"} as={:user}>
      <div class="mb-3">
        <.label for="email" class="form-label">Email</.label>
        <.text_input field={f[:email]} class="form-control" />
      </div>

      <.button class="btn btn-primary">Request</.button>
    </.form>
  </div>
</div>
