<div class="row">
  <div class="col">
    <h1>Log In</h1>
    <%= form_for @conn, Routes.session_path(@conn, :create), fn f -> %>
      <div class="mb-3">
        <%= label f, :email, class: "form-label" %>
        <%= text_input f, :email, class: "form-control" %>
      </div>
      
      <div class="mb-3">
        <%= label f, :password, class: "form-label" %>
        <%= password_input f, :password, class: "form-control" %>
      </div>

      <%= submit "Log In", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

<div class="row py-4">
  <div class="col">
    <h1>Get a Password</h1>
    <p>Enter your email to create a new account or reset your password.</p>

    <%= form_for @conn, ~p"/users/send_auth_email", fn f -> %>
       <div class="mb-3">
        <%= label f, :email, class: "form-label" %>
        <%= text_input f, :email, class: "form-control" %>
      </div>

      <%= submit "Request", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
