<h1>New Reg</h1>

<%= form_for @changeset, Routes.staff_course_reg_path(@conn, :create, @course), fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <p>Course: <%= @course.name %></p>
  </div>

  <div class="form-group">
    <%= label f, :user_login %>
    <%= text_input(f, :user_login, class: "form-control autosearch",
                   data: [topic: "users"]) %>
    <%= error_tag f, :user_login %>
    <div class="text-muted">
      Username; start typing to search
    </div>
  </div>

  <div class="form-group">
    <%= label f, :is_grade_column %>
    <%= checkbox f, :is_grade_column, class: "form-control toggle" %>
    <%= error_tag f, :is_grade_column %>
  </div>

  <div class="form-group">
    <%= label f, :is_prof %>
    <%= checkbox f, :is_prof, class: "form-control toggle" %>
    <%= error_tag f, :is_prof %>
  </div>

  <div class="form-group">
    <%= label f, :is_staff %>
    <%= checkbox f, :is_staff, class: "form-control toggle" %>
    <%= error_tag f, :is_staff %>
  </div>

  <div class="form-group">
    <%= label f, :is_student %>
    <%= checkbox f, :is_student, class: "form-control toggle" %>
    <%= error_tag f, :is_student %>
  </div>

  <div>
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
