/* This file is for your main application css. */

@import "bootstrap/scss/bootstrap";
@import "bootswatch/dist/spacelab/bootswatch";
@import "react-datepicker/dist/react-datepicker";
@import "katex/katex.min.css";

@import "./console";

.h-3 {
    height: 1em;
}

.header-logo {
    width: 64px;
    height: 64px;
}

.inkfish-footer {
    max-width: 75%;
    margin: auto;
    margin-top: 8em;
    border-top: thin solid grey;
}

.inkfish-footer p {
    margin: auto;
    padding-top: 1em;
    max-width: 75%;
}

.react-datepicker-wrapper {
    width: 100%;
}

textarea.form-control {
    min-height: 12em;
}

.upload-drop-area {
    border: thin dashed grey;
    min-height: 3em;
    height: 100%;
}

#photo-preview {
    width: 320px;
    height: 320px;
    object-fit: cover;
}

.user-photo-full {
    max-width: 960px;
    max-height: 50vh;
}

.number-grade-form {
    display: none;
}

.number-grade-input {
    width: 6em;
}

.number-grade-cell {
    width: 10em;
    min-height: 2em;
}

.sub-upload-group {
    min-height: 22em;
}

.output-log {
    overflow-y: scroll;
    white-space: pre-wrap;
    border: thin solid grey;
    font-family: monospace;
}

#git-output-log {
    height: 7em;
}

.code-file-list {
    overflow-y: auto;
}

.tree-toggle {
    font-size: large;
    font-weight: bold;
    width: 2ex;
    display: inline-block;
}

.list-group-item.active a {
    color: white;
}

#viewer-file-path {
    font-family: monospace;
}

.cm-editor {
    height: 90vh;
    max-height: 90vh;
}

.comment-card {
    cursor: default;
}

.markdown-viewer {
    height: 90vh;
    max-height: 90vh;
    overflow: auto;
}

.mc-content {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-top: 1.5rem;
        margin-bottom: 1rem;
        font-weight: 700;
    }

    h1 {
        font-size: 2rem;
        border-bottom: 1px solid #e1e4e8;
        padding-bottom: 0.3em;
    }

    h2 {
        font-size: 1.75rem;
        border-bottom: 1px solid #e1e4e8;
        padding-bottom: 0.3em;
    }

    h3 {
        font-size: 1.5rem;
    }

    h4 {
        font-size: 1.25rem;
    }

    p,
    ul,
    ol {
        margin-bottom: 1rem;
    }

    ul,
    ol {
        padding-left: 2em;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 1rem;
        border: 1px solid #dfe2e5;

        th,
        td {
            padding: 8px 13px;
            border: 1px solid #dfe2e5;
        }

        th {
            background-color: #f6f8fa;
            font-weight: 700;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }
    }

    pre {
        padding: 16px;
        background-color: #f6f8fa;

    }

    blockquote {
        padding: 0 1em;
        color: #6a737d;
        border-left: 0.25em solid #dfe2e5;
        margin-bottom: 1rem;
    }
}