<h1>Listing Teamsets</h1>

<p>
  <.link href={~p"/staff/courses/#{@course}/teamsets/new"}>New Teamset</.link>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
<%= for teamset <- @teamsets do %>
    <tr>
      <td>
        <%= teamset.name %>
      </td>
      <td>
        <.link href={~p"/staff/teamsets/#{teamset}"}>Show</.link>&nbsp;
        <.link href={~p"/staff/teamsets/#{teamset}/edit"}>Edit</.link>&nbsp;
        <.link
          href={~p"/staff/teamsets/#{teamset}"}
          method={:delete}
          data-confirm="Are you sure?"
          class="btn btn-sm btn-danger">
          Delete
        </.link>
      </td>
    </tr>
<% end %>
  </tbody>
</table>
