<h1>Show Join req</h1>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @join_req.email %>
  </li>

  <li>
    <strong>Note:</strong>
    <%= @join_req.note %>
  </li>

  <li>
    <strong>Staff req:</strong>
    <%= @join_req.staff_req %>
  </li>

</ul>

