<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= page_title(@conn) %> · Inkfish</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="icon" type="image/png"
          href="<%= Routes.static_path(@conn,"/images/inkfish.png") %>"/>
    <script>
     window.user_token = "<%= @current_user_token %>";
     window.current_page = "<%= current_page(@conn) %>";
     window.csrf_token = "<%= Phoenix.Controller.get_csrf_token() %>";
     window.upload_path = "<%= Routes.ajax_upload_path(@conn, :create) %>";
    </script>
  </head>
  <body>
    <div class="container">
      <header>
        <div class="row">
          <div class="col-md-2">
            <%= link(img_tag(Routes.static_path(@conn, "/images/inkfish.png"),
                  class: "header-logo"), to: Routes.page_path(@conn, :index)) %>
          </div>
          <div class="col-md-5">
            <%= if @current_user && @current_user.is_admin do %>
              <%= render InkfishWeb.LayoutView, "admin_nav.html", assigns %>
            <% else %>
              &nbsp;
            <% end %>
          </div>
          <div class="col-md-5">
            <%= if @current_user do %>
              User: <%= @current_user.email %> |
              <%= link("Profile", to: Routes.user_path(@conn, :show, @current_user)) %> |
              <%= link("Logout", to: Routes.session_path(@conn, :delete),
                       method: :delete) %>
            <% else %>
              <p>no session</p>
            <% end %>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= breadcrumb(@conn) %>
          </div>
        </div>
      </header>

      <%= if get_flash(@conn, :info) do %>
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <% end %>
      <main>
        <%= render @view_module, @view_template, assigns %>

        <%= if assigns[:course] do %>
          <%= render InkfishWeb.LayoutView, "course_footer.html", assigns %>
        <% end %>
      </main>

      <div class="inkfish-footer">
        <p>Inkfish copyright &copy; 2018-2019 Nat Tuck. Licensed under the GNU AGPLv3. No
          warranty, this code will probably eat your dog. Source code at
          <a href=https://github.com/NatTuck/inkfish">http://github.com/NatTuck/inkfish</a>.
        </p>
      </div>
    </div>
    <script type="text/javascript"
            src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
