Admin:
<%= link "Users", to: ~p"/admin/users" %> |
<%= link "Courses", to: ~p"/admin/courses" %> |
<%= link "Docker", to: ~p"/admin/docker_tags" %> |
<%= link "LiveDashboard", to: ~p"/admin/live_dashboard" %>
