<.header>
  Listing Docker tags
  <:actions>
    <.link href={~p"/admin/docker_tags/new"}>
      New Docker Tag
    </.link>
  </:actions>
</.header>

<.table
  id="docker_tags"
  rows={@docker_tags}
  row_click={&JS.navigate(~p"/admin/docker_tags/#{&1}")}
>
  <:col :let={docker_tag} label="Name">
    <.link navigate={~p"/admin/docker_tags/#{docker_tag}"}>
      {docker_tag.name}
    </.link>
  </:col>
  <:col :let={docker_tag} label="Dockerfile">
    <pre><%= String.slice(docker_tag.dockerfile, 0, 40) %>...</pre>
  </:col>
  <:action :let={docker_tag}>
    <.link navigate={~p"/admin/docker_tags/#{docker_tag}/edit"}>Edit</.link>
  </:action>
  <:action :let={docker_tag}>
    <.link
      href={~p"/admin/docker_tags/#{docker_tag}"}
      method="delete"
      data-confirm="Are you sure?"
    >
      Delete
    </.link>
  </:action>
</.table>
