<.header>
  New Docker tag
  <:subtitle>Use this form to manage docker_tag records in your database.</:subtitle>
</.header>

<.docker_tag_form changeset={@changeset} action={~p"/admin/docker_tags"} />

<.back navigate={~p"/admin/docker_tags"}>Back to docker_tags</.back>
