<h1>Docker Tag: {@docker_tag.name}</h1>
<p>
  <.link href={~p"/admin/docker_tags"}>Back to docker_tags</.link>
  |
  <.link href={~p"/admin/docker_tags/#{@docker_tag}/edit"}>
    Edit docker_tag
  </.link>
</p>

<h2>Image</h2>

<div class="row">
  <div class="col">
    <.link href={~p"/admin/docker_tags/#{@docker_tag}/build"} method="post" class="btn btn-warning">Build</.link>
  </div>
  <div class="col">
    <.link href={~p"/admin/docker_tags/#{@docker_tag}/clean"} method="post" class="btn btn-danger">Clean</.link>
  </div>
</div>

<pre><%= inspect(@image, pretty: true) %></pre>

<% if @fresh do %>
  <p>Image is up to date!</p>
<% else %>
  <p>Image is stale.</p>
<% end %>

<h2>Dockerfile</h2>
<pre><%= @docker_tag.dockerfile %></pre>
