<if condition={@changeset.action}>
...
</if>
...
<.ajax_upload_field id="user_photo" ext="jpg" target_id="user_photo_upload_id" />
...
<if condition={@user.photo_upload_id && @user.photo_upload}>
...
<else>
...
</else>
</if>
