/* This file is for your main application css. */

@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/spacelab/bootswatch";
@import "~bootstrap4-toggle/css/bootstrap4-toggle.min";
@import "~codemirror/lib/codemirror";
@import "~jquery-datetimepicker/jquery.datetimepicker";

.header-logo { 
    width: 64px; 
    height: 64px;
}

.inkfish-footer {
    max-width: 75%;
    margin: auto;
    margin-top: 8em;
    border-top: thin solid grey;
}

.inkfish-footer p {
    margin: auto;
    padding-top: 1em;
    max-width: 75%;
}

.form-group > textarea.form-control {
    min-height: 12em;
}

.upload-drop-area {
    border: thin dashed grey;
    min-height: 3em;
    height: 100%;
}

#photo-preview {
    width: 320px;
    height: 320px;
    object-fit: cover;
}

.user-photo-full {
    max-width: 960px;
}

.number-grade-form {
    display: none;
}

.number-grade-input {
    width: 6em;
}

.number-grade-cell {
    width: 10em;
    min-height: 2em;
}

.form-group label {
    padding-right: 1em;
}

.sub-upload-group {
    height: 18em;
}

.output-log {
    overflow-y: scroll;
    white-space: pre-wrap;
    border: thin solid grey;
    font-family: monospace;
}

#git-output-log {
    height: 7em;
}

.code-file-list {
    overflow-y: auto;
}

.tree-toggle {
    font-size: large;
    font-weight: bold;
    width: 2ex;
    display: inline-block;
}

.list-group-item.active a {
    color: white;
}

#viewer-file-path {
    font-family: monospace;
}

.CodeMirror {
    height: 90%;
}

.comment-card {
    cursor: default;
}
