<.form for={@changeset} action={@action}>
  <:inner :let={f}>
    <.if condition={@changeset.action}>
      <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
      </div>
    </.if>

    <div class="mb-3">
      <.label for={f[:name]} class="form-label" />
      <.text_input field={f[:name]} class="form-control" />
      <.error_tag form={f} field={:name} />
    </div>

    <div class="mb-3">
      <.label for={f[:start_date]} class="form-label" />
      <.text_input field={f[:start_date]} class="form-control date-picker" />
      <.error_tag form={f} field={:start_date} />
    </div>

    <div class="mb-3">
      <div class="form-check form-switch">
        <.checkbox field={f[:archived]} class="form-check-input" />
      </div>
      &nbsp;
      <.label for={f[:archived]} class="form-check-label">archive old course</.label>
      <.error_tag form={f} field={:archived} />
    </div>

    <div class="mb-3">
      <.label for={f[:instructor]} class="form-label" />
      <.text_input field={f[:instructor]} class="form-control autosearch" data-topic="users" />
      <.error_tag form={f} field={:instructor} />
      <div class="text-muted">
        start typing to search
      </div>
    </div>

    <div class="mb-3">
      <.label for={f[:sections]} class="form-label" />
      <.text_input field={f[:sections]} class="form-control" />
    </div>
  </:inner>

  <:actions>
    <div class="mb-3">
      <.button class="btn btn-primary">Save</.button>
    </div>
  </:actions>
</.form>
