<.form for={@changeset} action={@action}>
  <:inner :let={f}>
    <%= if @changeset.action do %>
      <div class="alert alert-danger">
        <p>Oops, something went wrong! Please check the errors below.</p>
      </div>
    <% end %>

    <.hidden_input field={f[:course_id]} />

    <div class="mb-3">
      <.label for="name" class="form-label">Name</.label>
      <.text_input field={f[:name]} placeholder="Homework" />
      <.error_tag form={f} field={:name} />
    </div>

    <div class="mb-3">
      <.label for="weight" class="form-label">Weight</.label>
      <.number_input field={f[:weight]} step="any" />
      <.error_tag form={f} field={:weight} />
    </div>
  </:inner>
  <:actions>
    <div class="mb-3">
      <.button>Save</.button>
    </div>
  </:actions>
</.form>
