# User Service
#  - loginctl enable-linger
#  - This goes in ~/.config/systemd/user/inkfish.service
#  - systemctl --user enable inkfish
#  - systemctl --user start inkfish

[Unit]
Description=Inkfish

[Service]
Type=simple
Restart=always
Environment=MIX_ENV=prod "PORT=4080"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/inkfish/inkfish
ExecStart=bash /home/inkfish/inkfish/scripts/start.sh

[Install]
WantedBy=default.target
