<.header>
  Listing Meetings
</.header>

<ul>
  <%= for {meeting, at} <- @meetings do %>
    <li>
      <span class="human-date">{meeting.started_at}</span>
      - {show_attendance(at)}
    </li>
  <% end %>
</ul>
