
<h1>Show Course</h1>

<%= if is_staff?(@current_reg, @current_user) do %>
  <p>
    <%= link("Staff View",
      to: Routes.staff_course_path(@conn, :show, @course)) %>
  </p>
<% end %>

<ul>
  <li>
    <strong>Name:</strong>
    <%= @course.name %>
  </li>
  <li>
    <strong>Start date:</strong>
    <%= @course.start_date %>
  </li>
</ul>

<%= for bucket <- @course.buckets do %>
  <h2><%= bucket.name %></h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Due</th>
        <th>Weight</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <%= for as <- bucket.assignments do %>
        <tr>
          <td><%= link as.name, to: Routes.assignment_path(@conn, :show, as) %></td>
          <td><%= as.due %></td>
          <td><%= as.weight %></td>
          <td><%= show_score(@conn, as) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
